pkg/
out/
*/**/test_assets/stdout.log
release/
*/bin
*/**/bin
.DS_Store
.idea
*.iml
*.pem
bin/etcd
bin/ginkgo
bin/loggregator
src/code.google.com/p/go.tools/
*.etcd
*.prof
*.mprof
*.coverprofile
bin/protoc-gen-gogo
