[submodule "src/github.com/cloudfoundry/gosteno"]
	path = src/github.com/cloudfoundry/gosteno
        url = https://github.com/cloudfoundry/gosteno
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
        url = https://github.com/stretchr/testify
[submodule "src/code.google.com/p/gogoprotobuf"]
        path=src/code.google.com/p/gogoprotobuf
        url = https://code.google.com/p/gogoprotobuf/
