[submodule "src/github.com/cloudfoundry/gosteno"]
	path = src/github.com/cloudfoundry/gosteno
        url = https://github.com/cloudfoundry/gosteno
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
        url = https://github.com/stretchr/testify
[submodule "src/code.google.com/p/gogoprotobuf"]
        path=src/code.google.com/p/gogoprotobuf
        url = https://code.google.com/p/gogoprotobuf/
[submodule "src/github.com/cloudfoundry/yagnats"]
	path = src/github.com/cloudfoundry/yagnats
	url = https://github.com/cloudfoundry/yagnats
[submodule "src/github.com/howeyc/fsnotify"]
	path = src/github.com/howeyc/fsnotify
	url = https://github.com/howeyc/fsnotify
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid.git
[submodule "src/github.com/cloudfoundry/loggregatorlib"]
	path = src/github.com/cloudfoundry/loggregatorlib
	url = https://github.com/cloudfoundry/loggregatorlib.git
