
# golang
pkg/
/bin/
*.prof
*.mprof
*.coverprofile
*.test

# macOS
.DS_Store

# jetbrains
.idea

# bosh
.blobs
blobs
.dev_builds
dev_releases
config/dev.yml
config/private.yml
releases/*.tgz
releases/**/*.tgz

# cleaner deps
/src/github.com/client9/misspell
/src/github.com/mdempsky/
/src/golang.org/x/text/
/src/golang.org/x/tools/

# cert script output
loggregator-certs

# misc
out/
*/**/test_assets/stdout.log
release/
*/bin
*.iml
*.pem
*.etcd
src/code.google.com/p/go.tools/
src/github.com/cloudfoundry/gorouter/
src/github.com/rcrowley/
src/lats/fixtures/metron.json
scripts/etcd
