pkg/
out/
*/**/test_assets/stdout.log
release/
*/bin
.DS_Store
.idea
*.iml
*.pem
src/code.google.com/p/go.tools/
*.etcd
*.prof
*.mprof
*.coverprofile
/bin/
*.test
src/lats/fixtures/metron.json
src/github.com/cloudfoundry/gorouter/
src/github.com/rcrowley/
config/dev.yml
releases/*.tgz
releases/**/*.tgz
.blobs
blobs
dev_releases
.dev_builds
loggregator-certs
config/private.yml

# atom golang dependecies
src/github.com/nsf/
src/github.com/alecthomas/
src/github.com/client9/
src/github.com/golang/
src/github.com/google/
src/github.com/gordonklaus/
src/github.com/jgautheron/
src/github.com/kisielk/
src/github.com/mdempsky/
src/github.com/mibk/
src/github.com/mvdan/
src/github.com/opennota/
src/github.com/rogpeppe/
src/github.com/tsenart/
src/github.com/walle/
